@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #52616B;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
    --back-color: #000000;
    --nav-color:#af4dfff6;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0px auto;
    width: 100%;
}

#title {
    background-color: var(--back-color);
    color: var(--off-white);
}

h1 {
    font-size: 2.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5;
}

p {
    font-size: 1.1rem;
    color: var(--dark-gray);
}

hr {
    margin: 2rem 0rem;
}

/** section **/

.section {
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
    text-align: center;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
    border-radius: 0.5rem;
}

.blogs {
    margin: 0;
    padding-bottom: 4rem;
}

/* lists */
.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 80%;
    margin: auto;
}

/* navbar link */
.container-fluid .navbar-nav .nav-item .link-active {
    color: var(--off-white);
    font-weight: bold;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    color: var(--off-white);
    margin: 1rem auto;
    border-radius: 5rem;
}

.link-secondary {
    max-width: 140px;
    margin: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 5rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.mypic {
    display: block;
    padding: 2rem;
    margin: auto;
    width: 35%;
}

.container-fluid {
    padding: 3% 15% 5%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar .navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--nav-color);
}

.nav-item {
    padding: 0 18px;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.3rem;
    color: var(--nav-color);
}

.title-image {
    width: 80%;
    margin-bottom: 50px;
}

.project-image {
    width: 70%;
}

.blog-image {
    width: 65%;
}

.touch {
    padding-bottom: 1rem;
}

@media(max-width:900px) {
    #title {
        text-align: center;
    }
 
.link-primary {
    display: block;
}

    .mypic {
        margin: auto;
        padding: 3rem 0rem;
        position: static;
        width: 50%;
    }

    .title-image {
        padding: 3rem 0rem;
        position: static;
    }

    .project-image {
        margin: auto;
        padding: 3rem 0rem;
        position: static;
    }

    .blog-image {
        margin: auto;
        padding: 3rem 0rem;
        position: static;

    }

}

/** projects **/
.showcase-list {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}
.showcase-list p {
    padding-bottom: 1rem;
}

/* footer section */
#footer {
    margin-top: 3rem;
    text-align: center;
    background-color: var(--back-color);
    padding: 2% 15% 1%;
}

.footer-icon {
    color: var(--off-white);
    text-decoration: none;
    margin: 20px 10px;
}

@media(min-width:1280px) {
    .title-image {
        padding-left: 5rem;
    }

    .project-image {
        padding-left: 5rem;
    }

    .blog-image {
        padding-left: 5rem;

    }    
}
